.profileCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  color: var(--color-white);
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
}

.username {
  color: rgb(175, 170, 170);
}

.profileCont p {
  margin: 0 1rem;
}

.website {
  margin: 1rem 0;
  color: red;
}

.userInfo {
  background-color: var(--bg-dark-1);
  outline: 1px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 2.5rem;
  font-weight: 700;
  gap: 2.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
