.inputCont {
  width: 100vmin;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.inputImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}

.inputCont input {
  background-color: #f7f7f7;
  border: none;
  width: 80%;
  padding: 1rem;
  height: 40px;
}

.inputCont button {
  height: 40px;
  width: 25%;
  background-color: red;
  border: none;
  color: #fff;
}
