.container {
  margin-top: 1rem;
  background-color: var(--bg-dark-2);
  color: var(--color-white);
}

.whoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.red {
  font-weight: 700;
  color: var(--color-active-red);
}
