.container {
  background-color: var(--bg-dark-2);
  position: absolute;
  top: 10px;
  right: 35%;
  height: max-content;
  width: 400px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: white;
}

.avatarCont {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 1rem;
}
.inputCont {
  width: 150px;
  display: flex;
  align-items: end;
}

.avatarCont input {
  display: none;
}

.avatarEditIcon:hover {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--color-active-red);
}

.editInfo {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.editInfo input {
  margin: 0.5rem 0;
}

.inputCont label {
  font-size: 0.8rem;
}

.selectCont {
  width: 70%;
  margin: 0.5rem auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.selectCont div {
  cursor: pointer;
}

.selectCont div:hover {
  outline: solid white;
  border-radius: 50%;
}

.choose {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0.3rem;
  font-weight: 600;
  background-color: gray;
  text-align: center;
}

.gridRows {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.btn {
  padding: 0.6rem 0;
  width: 50%;
  margin: 0 auto;
  background-color: var(--bg-dark-1);
  color: white;
  border: none;
}

.btn:hover {
  cursor: pointer;
  color: red;
}

input {
  width: 100%;
}

.xBtn {
  background-color: var(--bg-dark-1);
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.xBtn:hover {
  cursor: pointer;
}
