.homeContainer {
  /* background-color: var(--bg-light-gray); */
  background-color: var(--bg-dark-1);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "mainDiv mainDiv mainDiv"
    "mainDiv mainDiv mainDiv";
  position: relative;
}

.header {
  /* background-color: #fff; */
  background-color: var(--bg-dark-2);

  grid-area: header;
}

.mainDiv {
  display: grid;
  grid-template-columns: fit-content(max-content) 2fr 1fr;
  grid-area: mainDiv;
  grid-template-areas:
    "asideL main asideR"
    "asideL main asideR";
  width: 90%;
  margin: 0 auto;
  column-gap: 1rem;
}

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(237, 244, 244, 0.4);
  position: absolute;
}

.asideL {
  grid-area: asideL;
  padding-top: 2.5rem;
  width: max-content;
}

.main {
  margin-top: 2.5rem;
  grid-area: main;
}

.asideR {
  grid-area: asideR;
  padding-top: 2.5rem;
  justify-self: end;
}
.asideRCont {
  position: sticky;
  top: 10px;
}
