.editButton {
  padding: 0.4rem 0.8rem;
  background-color: #f7f7f7;
  border: none;
  font-weight: 600;
  outline: 1px solid gray;
  margin: 1rem 0;
}

.editButton:hover {
  cursor: pointer;
  background-color: var(--bg-dark-1);
  color: #f7f7f7;
}
