.userCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.userImage {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
}

.red {
  color: red;
  font-weight: 700;
}
