.headerCont {
  padding: 1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  height: 64px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: underline;
  color: white;
}

.headerCont button {
  padding: 0.5rem 1.5rem;
  background-color: var(--bg-dark-1);
  color: white;
  font-size: 1rem;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.headerCont button:hover {
  cursor: pointer;
  color: var(--color-off-gray);
  outline: 1px solid;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
